/* 亮色模式样式 */
.btn:focus-visible,
.social-count:focus-visible {
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.social-count {
    color: #25292e;
    background-color: #fff;
    border-color: #d1d9e0;
}

.social-count:hover,
.social-count:focus {
    color: #0969da;
}

/* 亮色高对比度模式样式 */
@media (prefers-color-scheme: light-high-contrast) {
    .btn:focus-visible,
    .social-count:focus-visible {
        outline: 2px solid #0349b4;
        outline-offset: -2px;
    }

    .social-count {
        color: #25292e;
        background-color: #fff;
        border-color: #454c54;
    }

    .social-count:hover,
    .social-count:focus {
        color: #023b95;
    }
}

/* 暗色模式样式 */
@media (prefers-color-scheme: dark) {
    .btn:focus-visible,
    .social-count:focus-visible {
        outline: 2px solid #1f6feb;
        outline-offset: -2px;
    }

    .social-count {
        color: #f0f6fc;
        background-color: #0d1117;
        border-color: #3d444d;
    }

    .social-count:hover,
    .social-count:focus {
        color: #388bfd;
    }
}

/* 暗色暗淡模式样式 */
@media (prefers-color-scheme: dark-dimmed) {
    .btn:focus-visible,
    .social-count:focus-visible {
        outline: 2px solid #316dca;
        outline-offset: -2px;
    }

    .social-count {
        color: #d1d7e0;
        background-color: #212830;
        border-color: #3d444d;
    }

    .social-count:hover,
    .social-count:focus {
        color: #4184e4;
    }
}

/* 暗色高对比度模式样式 */
@media (prefers-color-scheme: dark-high-contrast) {
    .btn:focus-visible,
    .social-count:focus-visible {
        outline: 2px solid #409eff;
        outline-offset: -2px;
    }

    .social-count {
        color: #fff;
        background-color: #010409;
        border-color: #b7bdc8;
    }

    .social-count:hover,
    .social-count:focus {
        color: #5cacff;
    }
}    
